body{
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: pink;
}

.container{
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2em;
}

.button #yes{
    width: 7em;
    height: 5em;
    border: none;
    background: #0fcd0f;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.button #no{
    width: 7em;
    height: 5em;
    border: none;
    background: #cd2b0f;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}